{% extends 'base.html' %}
{% block subcontent %}
    <div class="jumbotron">
        <h1>User Login</h1>
    </div>
    <div>
        <p></p>
    </div>
    <div>
       <form class="form-horizontal" method="POST">
           Username:<input type="username" class="form-control" name="username" placeholder="Enter username"/>
           Password:<input type="password" class="form-control" name="pwd" placeholder="Enter password"/>
           <p></p>
           <input type="submit" class="btn btn-primary"/>
       </form>
    </div>
{% endblock %}
